{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div id = "rec3">
    <div class = "container2">
        <div class = "item2" id = "chart_text">러닝차트</div>
        <div class = "item2" id = "chart">
            
        </div>
        <div class = "item2" id = "calendar2_text">캘린더</div>
        <div class = "item2" id = "calendar2">
            <div class="calendar">
                <div class="cal_header2">
                    <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                    <div class="year-month" ></div>
                    <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
                    <button class="nav-btn go-today" onclick="goToday()">Today</button>
                </div>
                
                <div class="cal_main2">
                    <div class="days">
                        <div class="day">Sun</div>
                        <div class="day">Mon</div>
                        <div class="day">Tue</div>
                        <div class="day">Wed</div>
                        <div class="day">Thu</div>
                        <div class="day">Fri</div>
                        <div class="day">Sat</div>
                    </div>
                    <div class="dates"></div>
                </div>
            </div>
            <script src="{% static 'js/calendar.js'%}"></script>
        </div>
        <div class = "item2" id = "calendar2_2">
            
        </div>
        <div class = "item2" id = "today">투데이</div>
        <div class = "item2" id = "today_date">
            
        </div>
        <div class = "item2" id = "dday1">
            
        </div>
        <div class = "item2" id = "dday2">
            
        </div>
        <div class = "item2" id = "dday3">
            
        </div>

        <div class = "item2" id = "marg_bottom">
            
        </div>
        
    </div>
</div>

{% endblock %}