{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div id = "rec3">
    <div class = "container2">
        <div class = "item2" id = "chart_text">러닝차트</div>
        <div class = "item2" id = "chart">
            
        </div>


        <div class = "item2" id = "calendar2_text">캘린더</div>
        <div class = "item2" id = "calendar2">
            <div class="calendar">
                <div class="cal_header2">
                    <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                    <div class="year-month" ></div>
                    <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
                    <button class="nav-btn go-today" onclick="goToday()">Today</button>
                </div>
                
                <div class="cal_main2">
                    <div class="days">
                        <div class="day">Sun</div>
                        <div class="day">Mon</div>
                        <div class="day">Tue</div>
                        <div class="day">Wed</div>
                        <div class="day">Thu</div>
                        <div class="day">Fri</div>
                        <div class="day">Sat</div>
                    </div>
                    <div class="dates"></div>
                </div>
            </div>
            <script src="{% static 'js/calendar.js'%}"></script>
        </div>
        {% if calendar.count == 0 %}
        <div class = "item2" id = "calendar2_2">
            오늘은 할일이 없습니다.
        </div>
        {% else %}
        <div class="item2" id="calendar2_2">
            {{calendar.0.title}}        {{calendar.0.datetime}} / {{calendar.0.place}}<br>
            {{calendar.0.body}}
        </div>
        {% endif %}

        <div class = "item2" id = "today">투데이
            <section id = "plus" >+</section>
        </div>

        <div class = "item2" id = "today_date">
            
        </div>

        <!-- 디데이 -->
        <div class = "item2" id = "dday1">
            <section class = "subject_name" id = "dday1_subject">{{calendar.0.title}}</section>
            <section class = "meeting_subject" id = "dday1_meeting">{{calendar.0.body}}</section>
            <section class="count_dday" id="dday1_dday">
                <script>
                    function CalcDday(finalDay) { //디데이 계산기
                        // 오늘 날짜+시간
                        const today = new Date();
                        const milliSecond = finalDay - today;
                        const day = Math.floor(milliSecond / 1000 / 60 / 60 / 24);
                        if (day === 0){
                            return "D-day"
                        }
                        else{
                            return "D-" + day;
                        }  
                    }

                
                </script>
            </section>
        </div>
        <div class = "item2" id = "dday2">
            <p class = "subject_name" id = "dday2_subject">{{calendar.1.title}}</p>
            <p class = "meeting_subject" id = "dday2_meeting">{{calendar.1.body}}</p>
            <p class = "count_dday" id = "dday2_dday">{{calendar.1.place}}</p>

        </div>
        <div class = "item2" id = "dday3">
            <p class = "subject_name" id = "dday3_subject">{{calendar.2.title}}</p>
            <p class = "meeting_subject" id = "dday3_meeting">{{calendar.2.body}}</p>
            <p class = "count_dday" id = "dday3_dday">{{calendar.2.place}}</p>
        </div>

        <!-- 체크리스트 -->
        <div class = "item2" id = "marg_bottom">
        {% for todo in todos %}
            <div class="detail_1">
                <p class="syn_1">{{ todo.title }}</p>
                <table class="tb1">
                    {% if todo.title == todocomment.post %}
                    {% for comment in todocomments %}
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb1"> <span class="marg_text" id="marg_text1" data-id="0">{{ comment.content }}</span></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        <!--
            <div class="detail_2">
                <p class="syn_2">조직행위 03</p>
                <table class="tb2">
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb3"> <span class="marg_text" id="marg_text3" data-id="2">커뮤니케이션 이론 쪽지 시험 준비</span><br></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb4"> <span class="marg_text" id="marg_text4" data-id="3">인터뷰 기업 후보 리스트 작성</span><br></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb5"> <span class="marg_text" id="marg_text5" data-id="4">인터뷰 질문 작성</span><br></td>
                    </tr>
                </table>
            </div>
            <div class="detail_3">
                <p class="syn_3">파이썬과 경영 01</p>
                <table class="tb3">
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb6"> <span class="marg_text" id="marg_text6" data-id="5">문자열 메소드 암기</span></td>
                    </tr>
                </table>
            </div>
            <div class="detail_4">
                <p class="syn_4">개인</p>
                <table class="tb4">
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb7"> <span class="marg_text" id="marg_text7" data-id="6">계절학기 수강 정정</span><br></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb8"> <span class="marg_text" id="marg_text8" data-id="7">계절학기 수강료 납부</span><br></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="cb" id="cb9"> <span class="marg_text" id="marg_text9" data-id="8">공모전 제출</span></td>
                    </tr>
                </table>
            </div>
        -->
        {% endfor %}
        </div>
    </div>
</div>

<script>
// css링크 연결 불가 현상, 코드 간소화 실패로 임시 처리
document.getElementById("cb1").addEventListener("click", function(){
    document.getElementById("marg_text1").classList.toggle("dec_show");
});
document.getElementById("cb2").addEventListener("click", function(){
    document.getElementById("marg_text2").classList.toggle("dec_show");
});
document.getElementById("cb3").addEventListener("click", function(){
    document.getElementById("marg_text3").classList.toggle("dec_show");
});
document.getElementById("cb4").addEventListener("click", function(){
    document.getElementById("marg_text4").classList.toggle("dec_show");
});
document.getElementById("cb5").addEventListener("click", function(){
    document.getElementById("marg_text5").classList.toggle("dec_show");
});
document.getElementById("cb6").addEventListener("click", function(){
    document.getElementById("marg_text6").classList.toggle("dec_show");
});
document.getElementById("cb7").addEventListener("click", function(){
    document.getElementById("marg_text7").classList.toggle("dec_show");
});
document.getElementById("cb8").addEventListener("click", function(){
    document.getElementById("marg_text8").classList.toggle("dec_show");
});
document.getElementById("cb9").addEventListener("click", function(){
    document.getElementById("marg_text9").classList.toggle("dec_show");
});

// document.querySelectorAll(".cb")[0].addEventListener("click", function(){
//     document.querySelectorAll(".marg_text")[0].classList.togle("dec_show");
// }); 안되는 이유 파악 필요

</script>
{% endblock %}