{% extends 'base.html' %} {% load static %} {% block content %}

<link rel = "stylesheet" type="text/css" href = "{% static 'css/gantt.css' %}?after">

<style>
  /* navbar 현재 페이지 표시 */
  .nav_button {
    padding: initial;
    margin: initial;
    box-sizing: initial;
    padding-left: 10px;
    margin-left: 20px;
    width: 257px;
  }

  .nav_button span {
    margin-left: 10px;
  }

  #btn2 {
    background-color: #735BF2;
    color: white;
  }

  #home_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/home.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
  }

  #calender_logo {
    width: 30px;
    height: 30px;
    /* background: #735BF2; */
    background-image: url("{% static 'images/CalenderOn.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
  }

  #project_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/project.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
    }
</style>

<div id="rec3">
  <div class="container2">
    <div class="item2" id="chart_text">러닝차트</div>

    <div class="item2" id="gantt" style="margin-left: 20px;">
      <div class="chart-axis">
        <ul class="chart-subject">
            {% for calendar in calendars %}
            <li style="color: {{calendar.color}};"><img src="{% static 'images/Oval_mint.png' %}" class="Oval"/> {{calendar.title}}</li>
            {% endfor %}
        </ul>
      </div>
      <div class="chart-wrapper">
        <ul class="chart-values">
          <li>mon</li>
          <li>tue</li>
          <li>wed</li>
          <li>thu</li>
          <li>fri</li>
          <li>sat</li>
          <li>sun</li>
        </ul>

        <ul class="chart-bars">
          {% for calendar in calendars %}
          {% for schedules in schedules_list %}
          {% for schedule in schedules %}
          {% if schedule.title == calendar.title %}

          <li data-duration= "{{ schedule.startday|date:'w' }}-{{ schedule.endday|date:'w' }}" data-color="{{calendar.color}}">{{ schedule.title }}</li>
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% endfor %}

          <!-- <li data-duration="mon-wed" data-color="#fe7782">팀 빌딩</li>
          <li data-duration="thu½-fri" data-color="#fe7782">가입 선정</li>
          <li data-duration="thu-sun" data-color="#45bfff">기업의 커뮤니케이션 우수 사례 조사</li>
          <li data-duration="wed½-sat" data-color="#ffbc54">문자열 메소드 암기</li>
          <li data-duration="fri-sat½" data-color="#735bf2">프로젝트 기획서 초안 작성</li>
          <li data-duration="wed-wed" data-color="#색추가">Task</li>
          <li data-duration="thu-fri½" data-color="#색추가">Task</li>
          <li data-duration="mon½-wed½" data-color="#색추가">Task</li>
          <li data-duration="fri-sat" data-color="#색추가">Task</li> -->
        </ul>
      </div>
      <script src="{% static 'js/getday.js' %}"></script>
      <script src="{% static 'js/gantt.js'%}"></script>
    </div>
    <div class="item2" id="calendar2_text">캘린더</div>
    <div class="item2" id="calendar2">
      <div class="calendar">
        <div class="cal_header2">
          <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
          <div class="year-month"></div>
          <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
          <button class="nav-btn go-today" onclick="goToday()">Today</button>
        </div>

        <div class="cal_main2">
          <div class="days">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
          </div>
          <div class="dates"></div>
        </div>
      </div>
      <script src="{% static 'js/calendar2.js'%}"></script>
    </div>
    <!-- float:left; width: 55%; -->
    <div class = "item2" id = "schedule_1" >
      {% if calendar.count == 0 %}
          <div id = 'no_schedule'>아직 등록된 일정이 없어요</div>
      {% else %} 
          <div id = "cal_sch1" style="float:left; width: 55%;">
              <section id = "cal_title" style="color: {{calendar.0.color}}; ">{{calendar.0.title}}</section>
              <section id = "cal_body">{{calendar.0.body}}</section>
              <section id = "cal_time_place">{{calendar.0.starttime}}~{{calendar.0.endtime}} / {{calendar.0.place}}</section>
          </div>
          <div id = "sch1_team">
              <div class = "cal_friend1" style=" background-color: {{calendar.0.color}};" id = "sch1_team1" ></div>
              <div class = "cal_friend1" style=" background-color: {{calendar.0.color}};" id = "sch1_team2"></div>
              <div class = "cal_friend1" style=" background-color: {{calendar.0.color}};" id = "sch1_team3"></div>
              <div class = "cal_friend1" style=" background-color: {{calendar.0.color}};" id = "sch1_team4"></div>
              <div class = "cal_friend1" style=" background-color: {{calendar.0.color}};" id = "sch1_team5"></div>
              <div class = "cal_friend1" style=" background-color: {{calendar.0.color}};" id = "sch1_team6"></div>
          </div>
          
      {% endif %}

  
    </div>
    <div class="item2" id="today">
      투데이
      <section id = "plus" ><a href="{% url 'mateapp:create_schedule' %}" style="text-decoration: none;">+</a></section>
    </div>

    <div class="item2" id="today_date">
      <!-- <button class="nav-btn go-prev" onclick="preDay()">&lt;</button> -->
      <div id="today_day">
        <div class="day_week"  style="margin-bottom:3px">
        </div>
        <div class="date_week" style="margin-bottom:0 ;" >
        </div>
      </div>
      <!-- <button class="nav-btn go-next" onclick="nextDay()">&gt;</button> -->
      <script src="{% static 'js/today.js'%}"></script>
    </div>

    <!-- 디데이 -->
    <div class="item2" id="dday1" style="background-color: {{calendar.0.color}}">
        {% if calendar.count == 0 %}
        <div id = "no_dday">
          <p>급한 일정이 있나요? </p>
          <p>할 일은 등록하시면 알려드릴게요!</p>
        </div>
        {% elif calendar.0.title %}
        <section class="subject_name" id="dday1_subject" >{{calendar.0.title}}</section>
        <section class="meeting_subject" id="dday1_meeting">{{calendar.0.body}}</section>
        <section class="count_dday" id="dday1_dday"></section>
        <script>
        const finalDay1 = "{{calendar.0.endday|date:'Y-m-d'}}"
  
        function CalcDday(finalDay) {
            var today = new Date();
            finalDay = new Date(finalDay);
            var year = today.getFullYear();
            var month = ('0'+(today.getMonth() +1)).slice(-2);
            var day = ('0'+today.getDate()).slice(-2);
  
            var dateString = year + '-' + month + '-' + day;
            dateString = new Date(dateString);
  
            var dday = Math.ceil(((finalDay.getTime() - dateString.getTime()) / (1000*24*60*60)));
                  
            if (dday === 0){
                return "D-day"
            }
            else{
                return "D-" + dday;
            }
        }
  
        document.getElementById("dday1_dday").innerHTML = CalcDday(finalDay1); 
  
    </script>
    {% endif %}
    </div>
    <div class="item2" id="dday2" style="background-color: {{calendar.1.color}}">
    {% if calendar.1.title %}
      <section class="subject_name" id="dday2_subject">{{calendar.1.title}}</section>
      <section class="meeting_subject" id="dday2_meeting">{{calendar.1.body}}</section>
      <section class="count_dday" id="dday2_dday"></section>
      <script>
        const finalDay2 = "{{calendar.1.endday|date:'Y-m-d'}}"
  
        function CalcDday(finalDay) {
            var today = new Date();
            finalDay = new Date(finalDay);
            var year = today.getFullYear();
            var month = ('0'+(today.getMonth() +1)).slice(-2);
            var day = ('0'+today.getDate()).slice(-2);
  
            var dateString = year + '-' + month + '-' + day;
            dateString = new Date(dateString);
  
            var dday = Math.ceil(((finalDay.getTime() - dateString.getTime()) / (1000*24*60*60)));
                  
            if (dday === 0){
                return "D-day"
            }
            else{
                return "D-" + dday;
            }
        }
  
        document.getElementById("dday2_dday").innerHTML = CalcDday(finalDay2); 
  
    </script>
    {% endif %}
    </div>
    <div class="item2" id="dday3" style="background-color: {{calendar.2.color}}">
        {% if calendar.2.title %}
      <section class="subject_name" id="dday3_subject">{{calendar.2.title}}</section>
      <section class="meeting_subject" id="dday3_meeting">{{calendar.2.body}}</section>
      <section class="count_dday" id="dday3_dday"></section>
      <script>
        const finalDay3 = "{{calendar.2.endday|date:'Y-m-d'}}"
  
        function CalcDday(finalDay) {
            var today = new Date();
            finalDay = new Date(finalDay);
            var year = today.getFullYear();
            var month = ('0'+(today.getMonth() +1)).slice(-2);
            var day = ('0'+today.getDate()).slice(-2);
  
            var dateString = year + '-' + month + '-' + day;
            dateString = new Date(dateString);
  
            var dday = Math.ceil(((finalDay.getTime() - dateString.getTime()) / (1000*24*60*60)));
                  
            if (dday === 0){
                return "D-day"
            }
            else{
                return "D-" + dday;
            }
        }
  
        document.getElementById("dday3_dday").innerHTML = CalcDday(finalDay3); 
  
    </script>
    {% endif %}
    </div>
<!-- 체크리스트 -->
<div class="item2">
  {% for calendar in calendars %}
  <section class="calendar_wrap">
    <div id = "checkbox_title"style="color:{{calendar.color}};">{{calendar.title}}</div>
    <div class="calendar_content">
      <ul>
        <li>
          <input type="checkbox" class="calendar_cb" id="calendar_checkbox" style="accent-color: {{calendar.color}};">
          <label for="calendar_checkbox"></label>
        </li>
        <li>
          <div class="calendar_body">
            {% for schedules in schedules_list %}
              {% for schedule in schedules %}
                {% if schedule.title == calendar.title %}
                  <span class="marg_text">{{calendar.body}}</span>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </section>
  {% endfor %}
  <!-- 리스트에 담긴 걸 포문 두개로 나눠서 투두 하나씩 불러와서 if문으로
  불러온 하나의 투두랑 연결된 하나의 프로젝트가 투두 모델에서 외래 -->
</div>
<a href="{% url 'account_logout' %}"><img id = "logout_button" src =  "{% static 'images/logout.png' %}" style="position: fixed;"/></a>


<script>
  // 첫 번째 시도
  // document.querySelector(".calendar_cb").addEventListener("click", function cancelationList(){});

  // function cancelationList() {
  //   document.getElementById("marg_text").classList.toggle("dec_show");
  // };

// click 이벤트에서 체크박스의 체크 여부 확인
const checkClick = document.querySelector(".calendar_cb");
const cancelationList = document.querySelector(".calendar_body span");


checkClick.addEventListener("click", () => {
  if (checkClick.checked === true) {
    // textDecoration 의 속성을 line-through로 변경
    cancelationList.style.textDecoration = "line-through";
  } else {
    cancelationList.style.textDecoration = "";
  }
});

</script>
{% endblock %}