{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div id = "rec3">
    <div class = "container">
        <div class = "item" id = "timetable_text">시간표</div>
        <div class = "item"></div>
        <div class = "item" id = "calendar_text">캘린더</div>
        <div class = "item"></div>
        <div class = "item"></div>
        <div class = "item"></div>
        <div class = "item" id = "runningmate_text">러닝메이트</div>
        <div class = "item"></div>
        <div class = "item" id = "chatting_text">최근 채팅</div>
        <div class = "item"></div>
        <div class = "item"></div>
        <div class = "item"></div>
        <div class = "item" id = "project_text">프로젝트 관리</div>
        <div class = "item"></div>
    </div>
</div>

{% endblock %}