{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div id = "rec3">
    <div class = "container">
        <div class = "item" id = "timetable_text">시간표&nbsp;
            <form method="post" enctype="multipart/form-data">
                <div class="button">
                    <label for="image">+</label>
                </div>
                {% csrf_token %}
                <input type="file" name="image" id="image" accept="image/*">
            </form>
        </div>
        <div class = "item" id = "timetable">
            {% if post.image %}
                <img src="{{ post.image.url }}" id="timetable_img" class="img-fluid" alt="사진">
            {% endif %}
        </div>


        <div class = "item" id = "calendar_text">캘린더</div>
        <div class = "item" id = "calendar">
            
        </div>
        <div class = "item" id = "schedule_1">

        </div>
        <div class = "item" id = "schedule_2">

        </div>



        <div class = "item" id = "runningmate_text">러닝메이트</div>
        <div class = "item" id = "runningmate">

        </div>



        <div class = "item" id = "chatting_text">최근 채팅</div>
        <div class = "item" id = "chatting_1">
            
        </div>
        <div class = "item" id = "chatting_2">

        </div>
        <div class = "item" id = "chatting_3">

        </div>



        <div class = "item" id = "project_text">프로젝트 관리</div>
        <div class = "item" id = "project">

        </div>
    </div>
</div>
<!-- github ++-->

{% endblock %}