{% extends 'base.html' %}
{% load static %}

{% block content %} 
<link rel = "stylesheet" type="text/css" href = "{% static 'css/project.css' %}?after">

<style>
    /* navbar 현재 페이지 표시 */
    #btn3 {
        background-color: #735BF2;
        color: white;
    }

    #home_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/home.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 10px;
    }

    #calender_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/calender.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 10px;
    }

    #project_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/projectOn.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 10px;
    }
</style>

<div id = "rec3">
    <div class = "container3">
        
        <div class = "item3" id = "pro_project_text">프로젝트</div>
        <div class = "item3" id = "pro_project"></div>
        <div class = "item3" id = "pro_runningmate_text">러닝메이트</div>
        <div class = "item3" id = "pro_runningmate"></div>
        <div class = "item3" id = "pro_runningspace_text">
            <span>러닝스페이스</span>
            <section id = "plus2">+</section>
        </div>
        {% for post in posts %}
        <form action="{% url 'mateapp:create_comment' project.id post.id %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <label for="content">코멘트</label>
            <input type="text" name="content" id='content' required placeholder="댓글 입력">
            <input type="submit" value="등록">
        </form>
        {% endfor %}
        {% for post in posts %}
        <div class = "item3" id = "{{post.id}}">
            {{post.day}}
            {{post.title}}
        </div>
        {% empty %}
        <div class = "item3" id = "empty">empty</div>
        {% endfor %}
        <form action="{% url 'mateapp:create_post' project.id %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <label for="title">주제</label>
            <input type="text" name="title" id='title' required placeholder="할 일을 입력해주세요">
            <input type="submit" value="등록">
        </form>
    </div>

</div>
{% endblock %}