{% extends 'base.html' %}
{% load static %}

{% block content %} 
<link rel = "stylesheet" type="text/css" href = "{% static 'css/project.css' %}?after">
<div id = "rec3">
    <div class = "container3">
        <div class = "item3" id = "pro_project_text">프로젝트</div>
        <div class = "item3" id = "pro_project"></div>
        <div class = "item3" id = "pro_runningmate_text">러닝메이트</div>
        <div class = "item3" id = "pro_runningmate"></div>
        <div class = "item3" id = "pro_runningspace_text">
            <span>러닝스페이스</span>
            <section id = "plus2" >+</section>
        </div>
        <div class = "item3" id = "pro_runningspace"></div>
        <div class = "item3" id = "pro_meeting1"></div>
        <div class = "item3" id = "pro_meeting2"></div>
        <div class = "item3" id = "pro_meeting3"></div>
        <div class = "item3" id = "pro_meeting4"></div>
        <div class = "item3" id = "pro_meeting5"></div>
        <div class = "item3" id = "pro_meeting6"></div>

    </div>

</div>
{% endblock %}