@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../font/Pacifico-Regular.ttf);
}

.container{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 70px 1.5fr 60px 1fr 1fr 1fr 50px 2.5fr;
    height: 100%;
    row-gap: 10px;
    column-gap: 20px;

}

.item:nth-child(1){
    grid-column: 1 / 2;
    grid-row : 1 / 2;
    margin-top: 30px;
    margin-left:2em;
}

.item:nth-child(2){
    grid-column: 1 / 2;
    grid-row : 2 / 7;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left:2.2em;

}

.item:nth-child(3){
    grid-column: 2 / 3;
    grid-row : 1 / 2;
    margin-top: 30px;
}

.item:nth-child(4){
    grid-column: 2 / 3;
    grid-row : 2 /5;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.item:nth-child(5){
    grid-column: 2 / 3;
    grid-row : 5 / 6;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.item:nth-child(6){
    grid-column: 2 / 3;
    grid-row : 6 / 7;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.item:nth-child(7){
    grid-column: 3/ 4;
    grid-row : 1 / 2;
    margin-top: 30px;
}


.item:nth-child(8){
    grid-column: 3 / 4;
    grid-row : 2/3;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}


.item:nth-child(9){
    grid-column: 3/4;
    grid-row : 3/4;
    margin-top: 20px;
}
.item:nth-child(10){
    grid-column: 3/4;
    grid-row : 4/5;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}

.item:nth-child(11){
    grid-column: 3/4;
    grid-row : 5/6;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}

.item:nth-child(12){
    grid-column: 3/4;
    grid-row : 6/7;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}

.item:nth-child(13){
    grid-column: 1/4;
    grid-row : 7/8;
    margin-left: 2em;
    margin-top: 10px;
}

.item:nth-child(14){
    grid-column: 1/4;
    grid-row : 8/9;
    margin-right: 2em;
    margin-bottom: 20px;
    margin-left: 1.5em;

}

#rec3{
    position: absolute;
    width: 80%;
    height: 90%;
    left: 17%;
    top: 4%;
    bottom: 4%;
    background: #F8F9FF;
    border-radius: 30px;
}

body{
    background: #ECF0FF;
}


#timetable_text, #calendar_text, #runningmate_text, #chatting_text, #project_text{
    font-family: "AppleSDGothicNeoB";
    font-weight: 500;
    font-size: 2.3vmin;

}

span{
    display: inline-block;
}

#timetable_img{
    display: flex;
    margin:5%;
    width: 90%;
    height: 90%;

}

/*mainpage : 프로젝트 관리*/

#project{
    overflow-x:auto; white-space:nowrap;
}
.scroll--element {
    display: inline-block;
    width:27%; 
    height:100%; 
    border-radius: 20px;
    margin-left:1.5vmin;
}


#subject1{
    background: #50CFBC;
}

#subject2{
    background: #FE7782;
}

#subject3{
    background: #45BFFF;
}
#subject4{
    background: #FFBC54;
}

#subject5{
    background: #735BF2;
}


::-webkit-scrollbar { /*스크롤 안보이게*/
    display: none;
}


.scroll--element>h6{
    color: white;
    margin-left: 2vmin;
    font-family: AppleSDGothicNeoL;
    font-weight: 100;
    line-height: 2.042vmin;
    margin-bottom: 0;
    font-size: 1.6vmin;
}
.scroll--element>h2{
    color: white;
    margin: 0;
    margin-left: 0.5em;
    font-family: AppleSDGothicNeoB;
    font-style: normal;
    font-weight: 400;
    line-height: 5.7vmin;
    font-weight: 100;
    line-height: 2.2vmin;
    margin-top: 2vmin;
    font-size: 3.8vmin;
}

.scroll--element>h3{
    color: white;
    margin-left: 1vmin;
    font-family:AppleSDGothicNeoM;
    font-weight: 400;
    line-height: 3vmin;
    margin-left: 2vmin;
    font-size: 2.2vmin;
}

#plus{
    display: inline-block; 
    font-size:larger; 
    vertical-align: middle;
    cursor: pointer;
}
/*mainpage : 러닝메이트*/
#runningmate{
    overflow-x:auto; white-space:nowrap;
}
.friend{
    display: inline-block;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin :1.5vmin;
    margin-top: 0;
    margin-bottom: 0;
}

#f1, #f2, #f3, #f4, #f5, #f6{
    display: inline-block;
    width: 10vmin;
    height: 10vmin;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    margin-left: 1vmin;

    
}
#friend1{
    background-color: #FE7782;
    background-image: url(../images/memoji.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#friend2{
    background-color: #FFBC54;
    background-image: url(../images/memoji2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend3{
    background-color: #FE7782;
    background-image: url(../images/memoji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend4{
    background-color: #45BFFF;
    background-image: url(../images/memoji4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend5{
    background-color: #50CFBC;
    background-image: url(../images/memoji.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend6{
    background-color: #FFBC54;
    background-image: url(../images/memoji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#runningmate h4{
    text-align:center; 
    margin: 0;
    font-family: AppleSDGothicNeoM;
    font-weight: 500;
    font-size: 1.8vmin;

}


/*메인페이지 - 캘린더*/
.calendar * {
    box-sizing: border-box;
}

.calendar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}
.cal_main{
    font-family: AppleSDGothicNeoB;
    font-size: 1.5vmin;
}


.calander_body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "AppleSDGothicNeoEB" ;
    font-size: 2.3vmin;
    line-height: 2.9vmin;
    justify-content: center;
    margin-left: 7vmin;
}


.nav-btn {
    width: 2.8vmin;
    height: 3vmin;
    border: 1px solid #DDDDDD;
    font-size: 1.6vmin;
    line-height: 3.4vmin;
    background-color: transparent;
    cursor: pointer;
    font-family: "AppleSDGothicNeoB" ;
    border-radius: 8px;
    margin-left: 2.5vmin;
    margin-right: 2.5vmin;
}


.go-today {
    width: 6vmin;
    border: 1px solid #DDDDDD;
    background-color: white;
    cursor: pointer;
    font-family: "AppleSDGothicNeoB" ;
    margin: 0;
}

.days {
    display: flex;
    margin: 1vmin 0 1vmin;
    color: #9C9D9F;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 3%;
    margin-top: 0;

}

.date {
    width: calc(100% / 7);
    padding-bottom : 1.65vmin;
    text-align: center;
}

.other {
    color: #9C9D9F;
    opacity: .5;
}

#logout_button{
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    left: 15vw;
    top: 90vh;
}


/* navbar */
.nav {
    list-style: none;
    padding-left: 20px;
}

#home_logo {
    width: 40px;
    height: 40px;
    background: #735BF2;
    border-radius: 7px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 10px;
}

.home_logo{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #735BF2;
    padding-left: 12px;
    padding-top: 25px;
}

.wrap button {
    font-family: 'AppleSDGothicNeoB';
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    background-color: #ECF0FF;
    text-align: left;
    border: none;
}



#home {
    background: #735BF2;
    color: black;
}

.dropdown-content {
    padding-left: 20px;
}

.home_img {
    display: inline-block;
    width: 26.5px;
    height: 27.9px;
    
}

.calender_img {
    display: inline-block;
    width: 27px;
    height: 30px;
}

.project_img {
    display: inline-block;
    width: 27.9px;
    height: 27.9px;
}