<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RunningMate</title>
        <link rel = "stylesheet" type="text/css" href = "{% static 'css/style.css' %}?after">
        <link rel = "stylesheet" type="text/css" href = "{% static 'css/calender.css' %}?after">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'shared/_navbar.html' %}
        {% block content %}
        
        {% endblock %}
    </body>
</html>