#marg_bottom {
    padding-left: 23px;
    padding-top: 4px;
}

#cb1, #cb2 {
    accent-color: #50CFBC;
}

/* .marg_text {
    text-decoration: line-through;
} */

#cb3, #cb4, #cb5 {
    accent-color: #45BFFF;
}

.dec_show {
    text-decoration: line-through;
}

#cb6 {
    accent-color: #FFBC54;
}

#cb7, #cb8, #cb9 {
    accent-color: #222B45;
}

.syn_1 {
    display: inline-block;
    width: 30%;
    color: #50CFBC;
}

.syn_2 {
    display: inline-block;
    width: 30%;
    color: #45BFFF;
}

.syn_3 {
    display: inline-block;
    width: 30%;
    color: #FFBC54;
}

.syn_4 {
    display: inline-block;
    width: 30%;
    color: #222B45;
}

table {
    padding-left: 30%;
    margin-top: -11%;
}