
/*캘린더 테이블 배치*/
.container2{
    display:grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-rows: 1fr 5fr 1fr 1.5fr 1.5fr 1.5fr 1.5fr 15px;
    height: 100%;
    row-gap: 15px;
    column-gap: 20px;
    font-family: AppleSDGothicNeoB;
    font-weight: 500;
    font-size: 2.3vmin;

}
.item2:nth-child(1){
    grid-column: 1 / 4;
    grid-row : 1 / 2;
    margin-top: 30px;
    margin-left:2em;
}

.item2:nth-child(2){
    grid-column: 1 / 4;
    grid-row : 2 / 3;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left:2em;
    margin-right: 2em;

}

.item2:nth-child(3){
    grid-column: 1 / 2;
    grid-row : 3 / 4;
    margin-top: 20px;
    margin-left:2em;
}

.item2:nth-child(4){
    grid-column: 1 / 2;
    grid-row : 4 / 7;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left:2em;

}

.item2:nth-child(5){
    grid-column: 1 / 2;
    grid-row : 7 / 8;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left:2em;

}

.item2:nth-child(6){
    grid-column: 2 /4;
    grid-row : 3/4;
    margin-top: 20px;

}

.item2:nth-child(7){
    grid-column: 2/ 3;
    grid-row : 4 / 5;
    background-color: #FFFFFF;
    border-radius: 20px;

}


.item2:nth-child(8){
    grid-column: 2 / 3;
    grid-row : 5/6;
    background-color: #FFFFFF;
    border-radius: 20px;


}


.item2:nth-child(9){
    grid-column:2/3;
    grid-row : 6/7;
    background-color: #FFFFFF;
    border-radius: 20px;


}
.item2:nth-child(10){
    grid-column: 2/3;
    grid-row : 7/8;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.item2:nth-child(11){
    grid-column: 3/4;
    grid-row : 4/8;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;


}
.item2:nth-child(12){
    grid-column: 1/4;
    grid-row : 8/9;
}


/*캘린더 페이지 캘린더*/
.calendar {
    margin-top: 3%;
}

.cal_main2{/*캘린더 페이지 캘린더*/
    font-family: 'AppleSDGothicNeoB';
    font-size: 1.7vmin;
}

.cal_header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "AppleSDGothicNeoEB" ;
    font-size: 2vmin;
    line-height: 2.9vmin;
    justify-content: center;
    margin-left: 15%;
}

/*투데이 - 체크리스트 */
.calendar_body{
    font-family: "AppleSDGothicNeoM" ;
    font-size: 18px;
}

#checkbox_title{
    font-size: 20px;
}
#marg_bottom {
    padding-left: 23px;
    padding-top: 4px;
}

/* marg_bottom  --------------------------------*/
.calendar_wrap {
    display: flex;
    flex-direction: row;
    margin-top:30px;
    margin-left: 30px;
    width: 100%;
}

#checkbox_title {
    float: left;
    width: 35%;
}

.calendar_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    width: 65%;
}

.calendar_content ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.calendar_cb {
    width: 17px;
    height: 17px;
    margin-right: 15px;
    border: none;
}

/* input[id="calendar_checkbox"] {
    display: none;
}

input[id="calendar_checkbox"] + label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #50cfbc;
    border-radius: 2px;
    cursor: pointer;
}

input[id="calendar_checkbox"]:checked + label:after {
    position: relative;
    content: '\2714';
    font-size: 14px;
} */

#marg_text {
    width: 100%;
}

.dec_show {
    text-decoration: line-through;
}
/* .marg_text {
    text-decoration: line-through;
} */

/* #cb7, #cb8, #cb9 {
    accent-color: #222B45;
} */

.syn_1 {
    display: inline-block;
    width: 30%;
    color: #50CFBC;
}

.syn_2 {
    display: inline-block;
    width: 30%;
    color: #45BFFF;
}

.syn_3 {
    display: inline-block;
    width: 30%;
    color: #FFBC54;
}

.syn_4 {
    display: inline-block;
    width: 30%;
    color: #222B45;
}

table {
    padding-left: 30%;
    margin-top: -11%;
}

/* 투데이 - 오늘 요일 날짜 표기 ---------*/
.day_week {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.date_week {
    font-family: 'AppleSDGothicNeoB';
    font-size: 40px;
    text-align: center;
    margin-bottom: 3%;
}

/* 투데이 - 디데이 */
#dday1, #dday2, #dday3{
    background-color: white
}


.subject_name{
    font-family: 'AppleSDGothicNeoM';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vmin;
    line-height: 18px;
    margin:10px;
    margin-bottom: 4px;
    margin-left: 20px;
    color: #FFFFFF;   
}

.meeting_subject{
    font-family: 'AppleSDGothicNeoB';
    font-style: normal;
    font-weight: 400;
    font-size: 2vmin;
    line-height: 18px;
    margin:10px;
    margin-top: 0;
    margin-left: 20px;
    color: #FFFFFF; 
}

.count_dday{
    font-family: 'AppleSDGothicNeoB';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5vmin;
    line-height: 20px;
    color: #FFFFFF; 
    margin-left: 70%;

    margin-bottom: 10px;
}

#plus{
    font-family: 'AppleSDGothicNeoM';
    display: inline-block; 
    font-size:larger; 
    vertical-align: middle;
    cursor: pointer;
    background: #FFFFFF;
    /* Gray Light */
    
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    margin-left: 8px;
}

/* 캘린더 일정 */
#cal_sch1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    float: left;
    width: 55%;
}


#no_dday{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: AppleSDGothicNeoM;
    color: #5D7285;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}