@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url(../font/AppleSDGothicNeoM00.ttf);
}

/* reset */
/* RESET RULES–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --white: #fff;
    --divider: lightgrey;
    --body: #f5f7f8;
}

.chart-wrapper ul {
    list-style: none;
}

#gantt a {
    text-decoration: none;
    color: inherit;
}

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

#gantt {
    display: flex;
    overflow-x: auto;
    height: auto;
    min-height: 275px;
    font-family: "AppleSDGothicNeoM00";
}

.chart-wrapper {
    max-width: 1000px;
    width: 95%;
    padding: 0px;
    /* margin: 0 auto; */
}

/* CHART-AXIS–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-axis .chart-subject {
    font-size: 14px;
    padding: 40px 5px;
    border-right: 1px solid var(--divider);
}

.chart-axis .chart-subject li {
    list-style: none;
    width: 150px;
    padding: 8.5px 0px;
}

/* CHART-VALUES–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-values {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.chart-wrapper .chart-values li {
    flex: 1;
    min-width: 180px;
    text-align: center;
    font-size: 16px;
}

.chart-wrapper .chart-values li:not(:last-child) {
    position: relative;
}

.chart-wrapper .chart-values li:not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;
    height: 250px;
    border-right: 1px solid var(--divider);
}


/* CHART-BARS–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-bars li {
    position: relative;
    color: var(--white);
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 20px;
    padding: 6px 20px;
    width: 0;
    opacity: 0;
    transition: all 0.65s linear 0.2s;
}

@media screen and (max-width: 600px) {
    .chart-wrapper .chart-bars li {
        padding: 10px;
    }
}