@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../font/Pacifico-Regular.ttf);
}

html, body{
    height: 100%;
    width: 100%;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #ECF0FF;
    font-family: 'AppleSDGothicNeoB';
    margin: 0;
}
#login_logo{
    width: 50px;
    height: 50px;
    background: #735BF2;
    border-radius: 15px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 10px;
}

.login_logo{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #252525;
    
}

#login_id, #login_password{
    background-color: #FBF9FF;
    width: 250px;
    font-family: "AppleSDGothicNeoM";
    border: 1px solid #8F9BB3;
    border-radius: 5px;
    height: 35px;
}

#login_submit{
    width: 250px;
    font-family: "AppleSDGothicNeoM";
    background-color: #735BF2;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
}

.logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    background-color: #ECF0FF;
    font-family:"AppleSDGothicNeoM";
}

.logout button {
    width: 350px;
    height: 45px;
    font-family: "AppleSDGothicNeoM";
    background-color: #735BF2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.social_login{
    font-family: AppleSDGothicNeoB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #ECF0FF;

}

#social_login_continue{
    font-family: AppleSDGothicNeoB;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    background-color: #ECF0FF;
    font-family: AppleSDGothicNeoB;
}

.signup_body{
    margin-top: 20px;
    width: 90%;
    background-color: #F8F9FF;
    border-radius: 15px;
}

.signup_top{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #222B45;
    text-align: center;
}

.signup_form{
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.signup_form label{
    display: inline-block;
    width: 200px;
    font-size: 18px;
    font-family: AppleSDGothicNeoM;
}

.signup_form input{
    height: 30px;
    width: 200px;
    border: 1px solid #8F9BB3;
    border-radius: 5px;
    font-family: AppleSDGothicNeoM;
    text-align: center;

}

.signup_form button{
    display: flex;
    font-family: AppleSDGothicNeoM;
    background-color: #735BF2;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    cursor: pointer;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}