@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../font/Pacifico-Regular.ttf);
}

.container{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 70px 1.5fr 60px 1fr 1fr 1fr 50px 2.5fr;
    height: 100%;
    row-gap: 10px;
    column-gap: 20px;

}

.item:nth-child(1){
    grid-column: 1 / 2;
    grid-row : 1 / 2;
    margin-top: 30px;
    margin-left:2em;
}

.item:nth-child(2){
    grid-column: 1 / 2;
    grid-row : 2 / 7;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left:2.2em;

}

.item:nth-child(3){
    grid-column: 2 / 3;
    grid-row : 1 / 2;
    margin-top: 30px;
}

.item:nth-child(4){
    grid-column: 2 / 3;
    grid-row : 2 /5;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.item:nth-child(5){
    grid-column: 2 / 3;
    grid-row : 5 / 6;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.item:nth-child(6){
    grid-column: 2 / 3;
    grid-row : 6 / 7;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.item:nth-child(7){
    grid-column: 3/ 4;
    grid-row : 1 / 2;
    margin-top: 30px;
}


.item:nth-child(8){
    grid-column: 3 / 4;
    grid-row : 2/3;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}


.item:nth-child(9){
    grid-column: 3/4;
    grid-row : 3/4;
    margin-top: 20px;
}
.item:nth-child(10){
    grid-column: 3/4;
    grid-row : 4/5;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}

.item:nth-child(11){
    grid-column: 3/4;
    grid-row : 5/6;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}

.item:nth-child(12){
    grid-column: 3/4;
    grid-row : 6/7;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 2em;

}

.item:nth-child(13){
    grid-column: 1/4;
    grid-row : 7/8;
    margin-left: 2em;
    margin-top: 10px;
}

.item:nth-child(14){
    grid-column: 1/4;
    grid-row : 8/9;
    margin-right: 2em;
    margin-bottom: 20px;
    margin-left: 1.5em;

}

#rec3{
    position: absolute;
    width: 80%;
    height: 90%;
    left: 17%;
    top: 4%;
    bottom: 4%;
    background: #ebefff;
    border-radius: 30px;
}

body{
    background: #d5ddff;
}


#timetable_text, #calendar_text, #runningmate_text, #chatting_text, #project_text{
    font-family: "AppleSDGothicNeoB";
    font-weight: 500;
    font-size: 2.3vmin;

}

span{
    display: inline-block;
}

#timetable_img{
    display: flex;
    margin:5%;
    width: 90%;
    height: 90%;

}

/*mainpage : 프로젝트 관리*/

#project{
    overflow-x:auto; white-space:nowrap;
}
.scroll--element {
    display: inline-block;
    width:27%; 
    height:100%; 
    border-radius: 20px;
    margin-left:1.5vmin;

}


#subject1, #subject2, #subject3, #subject4, #subject5, #subject6{
    background: white;
}


::-webkit-scrollbar { /*스크롤 안보이게*/
    display: none;
}


.scroll--element h6{
    color: white;
    margin-left: 2vmin;
    font-family: AppleSDGothicNeoL;
    font-weight: 100;
    line-height: 2.042vmin;
    margin-bottom: 0;
    font-size: 1.6vmin;
}
.scroll--element h2{
    color: white;
    margin: 0;
    margin-left: 0.5em;
    font-family: AppleSDGothicNeoB;
    font-style: normal;
    font-weight: 400;
    line-height: 5.7vmin;
    font-weight: 100;
    line-height: 2.2vmin;
    margin-top: 2vmin;
    font-size: 3.8vmin;
}

.scroll--element h3{
    color: white;
    margin-left: 1vmin;
    font-family:AppleSDGothicNeoM;
    font-weight: 400;
    line-height: 3vmin;
    margin-left: 2vmin;
    font-size: 2.2vmin;
}

#plus{
    font-family:AppleSDGothicNeoM;
    display: inline-block; 
    font-size:larger; 
    vertical-align: middle;
    cursor: pointer;
    background: #FFFFFF;
    /* Gray Light */
    
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    margin-left: 8px;
}

#project_text{
    line-height: 30px;
}

/*mainpage : 러닝메이트*/
#runningmate{
    overflow-x:auto; white-space:nowrap;
}
.friend{
    display: inline-block;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin :1.5vmin;
    margin-top: 0;
    margin-bottom: 0;
}
#f1{
    transform: translateY(-60%);
}
#f2{
    transform: translateY(-75%);
}
#f1, #f2{
    display: inline-block;
    width: 10vmin;
    height: 10vmin;
    position: relative;
    top: 50%;
    vertical-align: middle;
    margin-left: 1vmin;

    
}
#friend1{
    background-color: #FE7782;
    background-image: url(../images/memoji.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#friend2{
    background-color: #FFBC54;
    background-image: url(../images/memoji2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend3{
    background-color: #FE7782;
    background-image: url(../images/memoji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend4{
    background-color: #45BFFF;
    background-image: url(../images/memoji4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend5{
    background-color: #50CFBC;
    background-image: url(../images/memoji.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#friend6{
    background-color: #FFBC54;
    background-image: url(../images/memoji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#runningmate h4{
    text-align:center; 
    margin: 0;
    font-family: 'AppleSDGothicNeoM';
    font-weight: 500;
    font-size: 1.8vmin;

}


/*메인페이지 - 캘린더*/
.calendar * {
    box-sizing: border-box;
}

.calendar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}
.cal_main{
    font-family: 'AppleSDGothicNeoB';
    font-size: 1.5vmin;
}


.calander_body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "AppleSDGothicNeoEB" ;
    font-size: 2.3vmin;
    line-height: 2.9vmin;
    justify-content: center;
    margin-left: 7vmin;
}


.nav-btn {
    width: 2.8vmin;
    height: 3vmin;
    border: 1px solid #DDDDDD;
    font-size: 1.6vmin;
    line-height: 2.9vmin;
    background-color: transparent;
    font-family: "AppleSDGothicNeoB" ;
    border-radius: 8px;
    margin-left: 2.5vmin;
    margin-right: 2.5vmin;
}


.go-today {
    width: 6vmin;
    border: 1px solid #DDDDDD;
    background-color: white;
    cursor: pointer;
    font-family: "AppleSDGothicNeoB" ;
    margin: 0;
}

.days {
    display: flex;
    margin: 1vmin 0 1vmin;
    color: #9C9D9F;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 3%;
    margin-top: 0;

}

.date {
    width: calc(100% / 7);
    padding-bottom : 1.65vmin;
    text-align: center;
}

.other {
    color: #9C9D9F;
    opacity: .5;
}

#logout_button{
    position: fixed;
    width: 3vmin;
    height: 3vmin;
    left: 14.5vw;
    top: 90vh;
}

.date > .this{
    cursor: pointer;
}

#sch1, #sch2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    float: left;
    width: 65%;
}

#sch2_team{
    float: right;
    width: 35%;
    height: 100%;
    bottom: 0;
}
#cal_title, #cal_title2{
    margin-left:20px;
    font-family: 'AppleSDGothicNeoB';
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.75px;
    margin-bottom: 5px;
    display: inline-block;
}

#cal_body, #cal_body2{
    margin-left: 20px;
    font-family: 'AppleSDGothicNeoB';
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

#cal_time_place, #cal_time_place2{
    margin-left: 20px;
    font-family: 'AppleSDGothicNeoM';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.75px;
    color: #8F9BB3;
    
}

#no_schedule{
    margin-left: 20px;
    font-family: 'AppleSDGothicNeoM';
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F9BB3;
    font-size: 15px;
}

.cal_friend1, .cal_friend2 {
    border-radius: 50%; 
    width: 25px;
    height: 25px;
    margin-top: 50px;
    display: inline-block;
}

#sch1_team1, #sch2_team1{
    background-image: url(../images/memoji.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sch1_team2, #sch2_team2{
    background-image: url(../images/memoji2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sch1_team3, #sch2_team3{
    background-image: url(../images/memoji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sch1_team4, #sch2_team4{
    background-image: url(../images/memoji4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sch1_team5, #sch2_team5{
    background-image: url(../images/memoji.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sch1_team6, #sch2_team6{
    background-image: url(../images/memoji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* navbar ---------------------------------------*/
.navbar {
    /* border: 1px solid black; */
    position: absolute;
    top: 3%;
    left: 0.2%;
    width: 15%;
    padding: 10px;
    margin: 10px;
    box-sizing: initial;
}

.navbar a {
    text-decoration: none;
}

.navbar img {
    box-sizing: initial;
}

/* navbar main logo -----------------------------*/
.nav_logo {
    width: 35px;
    height: 35px;
    background: #735BF2;
    border-radius: 10px;
    padding: 7px;
    margin: 30px 5px 30px 15px;
    vertical-align: middle;
    box-sizing: initial;
}

.nav_main span {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #735BF2;
    vertical-align: middle;
}

/* navbar button --------------------------------*/
.nav_button {
    /* border: 1px solid #5D7285; */
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    width: 250px;
    height: 65px;
    margin-left: 15px;
    transition: all .5s;
    font-family: 'AppleSDGothicNeoB';
    font-size: 19px;
    color: #5D7285;
}


#btn1:hover{
    background-color: #735BF2;
    color: white;
    border: 0.1px solid #d5ddff;


}
#btn2:hover{
    background-color: #735BF2;
    color: white;
    border: 0.1px solid #d5ddff;


}
/* navbar button ul ------------------------------*/
.button_wrap ul {
    font-family: 'AppleSDGothicNeoM';
    font-size: 18px;
    color: #5D7285;
    text-decoration: none;
    list-style: none;
    line-height: 70px;
    padding-left: 80px;
}

/*시간표*/
input{
    font-family: AppleSDGothicNeoB;
}

.custom-file-input {
    color: transparent;
    width: 110px;
    padding: 0;
    margin: 0;

}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;

}

.custom-file-input::before {
    content: '파일 불러오기';
    background-color: #735BF2;;
    color: whitesmoke;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 110px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;

}

#timetable_submit{
    background-color: #735BF2;;
    color: whitesmoke;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 110px;
    text-align: center;
    height: 40px;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
    
}


#timetable form{
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

#upload_text{
    font-family: AppleSDGothicNeoM;
    margin-bottom: 10px;
    color: #5D7285;
}

#no_runningmate, #no_project{
    display: flex;
    height: 100%;
    font-family: AppleSDGothicNeoM;
    color: #5D7285;
    justify-content: center;
    align-items: center;
}

#no_project_name{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: AppleSDGothicNeoM;
    color: #5D7285;
    justify-content: center;
    align-items: center;
}

#recentpro_project{
    font-family: AppleSDGothicNeoB;
    margin-left: 13px;
    margin-top: 10px;
}

#recentpro_title{
    font-family: AppleSDGothicNeoB;
    margin-left: 13px;
    margin-top: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #222B45;

}

#recentpro_date{
    font-family: AppleSDGothicNeoM;
    margin-left: 13px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.75px;

    color: #8F9BB3;
}