{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{post.title}}</h1>
{% if post.writer %}
    {% if 'user' in post.writer.username %}
        <h3>작성자 : {{ post.writer.last_name }} {{ post.writer.first_name }}</h3>
    {% else %}
        <h3>작성자 : {{ post.writer }}</h3>
{% endif %}
{% else %}
<h3>작성자 : 알 수 없음</h3>
{% endif %}

날짜 :  {{post.pub_date}}
<hr>

<p>{{post.body}}</p>


<a href = "{%url 'mateapp:edit_project' post.id%}">수정하기</a>
<a href = "{%url 'mateapp:delete_project' post.id%}">삭제하기</a>

{% endblock %}