{% load socialaccount %}
{% providers_media_js %}

{% load static %}
<link rel = "stylesheet" href = "{% static 'css/login.css' %}?after">


<div class = "login">
	<form method="POST" action="{% url 'account_login' %}" style="display: block;">
		{% csrf_token %} 
		<div class = "login_logo"><div id = "login_logo"></div>learningmate</div>
		<p><input type="text" name="login" placeholder="  아이디" autocomplete="username" maxlength="150" required="" id="login_id"></p>
		<p><input type="password" name="password" placeholder="  비밀번호" autocomplete="current-password" required="" id="login_password"></p>
		<input id="login_submit" type="submit" value="로그인하기"></p>
		<a href="{% url 'account_signup' %}">회원가입</a>	  
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}

		
  </form>
  <a href="{% provider_login_url 'google' %}">구글 </a>
</div>
