{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    /* navbar 현재 페이지 표시 */
    #btn1 {
        background-color: #735BF2;
        color: white;
    }

    #home_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/homeOn.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 10px;
    }

    #calender_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/calender.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 10px;
    }

    #project_logo {
    width: 30px;
    height: 30px;
    background-image: url("{% static 'images/project.png' %}");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 10px;
    }
</style>

<link rel = "stylesheet" href = "{% static 'css/newproject.css' %}?after">

<div id="rec3">
    <div id="rec_project">
        <form action="{% url 'addproject:createproject' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <h1>프로젝트 관리</h1>
            <h2>과목별 새로운 프로젝트를 추가해주세요!</h2>
            <div class="project_content" id="bg">
                <div class="content_title">
                    <span>프로젝트 기간</span><br><br>
                    <span>과목명</span><br><br>
                    <span>프로젝트명</span><br><br>
                    <span>러닝메이트 1</span><br><br>
                    <span>러닝메이트 2</span><br><br>
                    <span>러닝메이트 3</span><br><br>
                    <span>러닝메이트 4</span><br><br>
                    <span>러닝메이트 5</span><br><br>
                    <span>러닝메이트 6</span><br><br>
                    <span>과목 컬러</span>
                </div>

                <div class="content_input">
                    <input type="date" name="startday" id="it1" data-placeholer=" 시작일" required aria-required="true">~<input type="date" name="endday" id="it1" data-placeholer=" 종료일" required aria-required="true"><br><br>
                    <input type="text" id="it2" name="title" placeholder=" 과목명을 입력해주세요  ex) 경영학원론"><br><br>
                    <input type="text" id="it3" name="body" placeholder=" 프로젝트명을 입력해주세요  ex) 가치 사슬 분석"><br><br>
                    <input type="text" id="it4" name="teammate1" placeholder=" 팀원의 아이디를 입력해주세요"><br><br>
                    <input type="text" id="it5" name="teammate2" placeholder=" 팀원의 아이디를 입력해주세요"><br><br>
                    <input type="text" id="it5" name="teammate3" placeholder=" 팀원의 아이디를 입력해주세요"><br><br>
                    <input type="text" id="it5" name="teammate4" placeholder=" 팀원의 아이디를 입력해주세요"><br><br>
                    <input type="text" id="it5" name="teammate5" placeholder=" 팀원의 아이디를 입력해주세요"><br><br>
                    <input type="text" id="it5" name="teammate6" placeholder=" 팀원의 아이디를 입력해주세요"><br><br>
                    <div id = "color_select">
                        <label for="cl1"><input type="radio" name="color" id="cl1" value="#fe7782" onclick=""></label>
                        <label for="cl2"><input type="radio" name="color" id="cl2" value="#ffbc54" onclick=""></label>
                        <label for="cl3"><input type="radio" name="color" id="cl3" value="#50cfbc" onclick=""></label>
                        <label for="cl4"><input type="radio" name="color" id="cl4" value="#45bfff" onclick=""></label>
                        <label for="cl5"><input type="radio" name="color" id="cl5" value="#735bf2" onclick=""></label>
                    </div>
                </div>
            </div>
            <div id="btn" >
                <button type="submit" style="margin-top:10px">추가하기</button>
            </div>
        </form>
    </div>
</div>
<a href="{% url 'account_logout' %}"><img id = "logout_button" src =  "{% static 'images/logout.png' %}" style="position: fixed;"/></a>
{% endblock %}